.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.row-footer{
    margin:0px auto;
    padding: 20px 0px 20px 0px;
    border-top:1px;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #7986CB ;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}



ul.nav-tabs{
        width: 140px;
        margin-top: 20px;
        border-radius: 4px;
        border: 1px solid #ddd;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    }
ul.nav-tabs li{
        margin: 0;
        border-top: 1px solid #ddd;
    }
ul.nav-tabs li:first-child{
        border-top: none;
    }
ul.nav-tabs li a{
        margin: 0;
        padding: 8px 16px;
        border-radius: 0;
    }
ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover{
        color: #fff;
        background: #0088cc;
        border: 1px solid #0088cc;
    }
    ul.nav-tabs li:first-child a{
        border-radius: 4px 4px 0 0;
    }
    ul.nav-tabs li:last-child a{
        border-radius: 0 0 4px 4px;
    }
ul.nav-tabs.affix{
    top: 50px; /* Set the top position of pinned element */
    }


 .navbar-nav>li>a:hover {
    color: #fff;
    background-color: black;
}


.nav-pills > li {
  float: left;
}
.nav-pills > li > a {
  border-radius: 4px;
  color: #fff;
}
.nav-pills > li > a:hover{
    color :white;
    background-color: #242424;
}
.nav-pills > li > a:focus {
  color: #fff;
  background-color: #080808;
}
.nav-pills > li + li {
  margin-left: 2px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #080808;
}
.nav-pills > .active > a > .badge {
  color: #fff;
  background-color: #222;
}
.tabs {
    border-bottom:1px solid #dcdcdc;
    margin: 0px;
}

.tabs:after {
    content: " ";
    display: block;
    clear: both;
}

.tabs li {
    float:left;
    width:100px;
    text-align:center;
}
.tabs li.album_tab {
    width: 130px;
}

.tabs li a {
    display: block;
    padding: 6px 0px;
}
.tabs li a:hover {
    color:#333;
}
.tabs .active {
    border-bottom: 3px solid #0088cc;
    margin-bottom: -1px;
}
.comment-to-who {
	border-bottom:none !important;
	margin-bottom:0 !important; 
}
.tabs .active a {
    display:block;
    padding-bottom: 4px;
    margin-top:0px;
}
.tabs li a{
    font-size:14px;
    text-decoration:none;
    color:#777;
}
.tabs .active a span {
    color: #333;
}